<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421466055065-7f3s80g76t8ttravjdh9gqgipaugl49p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421466055065-7f3s80g76t8ttravjdh9gqgipaugl49p</string>
	<key>API_KEY</key>
	<string>AIzaSyDd0C9_xCOdLcyxnw5jmp2yxikbzAabE34</string>
	<key>GCM_SENDER_ID</key>
	<string>421466055065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joseph-Fonseca.whatsup</string>
	<key>PROJECT_ID</key>
	<string>mach7-9a058</string>
	<key>STORAGE_BUCKET</key>
	<string>mach7-9a058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421466055065:ios:6db245cfdf0c7850</string>
	<key>DATABASE_URL</key>
	<string>https://mach7-9a058.firebaseio.com</string>
</dict>
</plist>